#rides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.ride {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.ride img {
  width: 100%;
  height: auto;
}

.ride .text {
  margin-top: 20px;
}

/* Styling for the header ID "titleCard" */
#titleCard {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

/* Styling for the footer */
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.card {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #ac1f2d;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  height: 184px; /* Half of the original image height */
  background-size: cover; /* Make the background image cover the entire card */
  background-position: center; /* Center the background image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h2 {
  align-self: flex-start;
  background-color: black;
}

.card p {
  align-self: center;
  margin-top: auto;
  background-color: black;
}

.ride-image {
  float: left;
  margin-right: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
