#rides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.rides-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  grid-auto-rows: 30vw; /* Set a specific row height */
  gap: 10px;
  justify-content: center;

  height: calc(100vh - 20vh); /* Subtract the footer height and grid gap */
  margin-bottom: 2vw; /* Add a margin to the bottom of the grid */
  overflow-y: hidden;
  width: 100vw; /* Set the width to 100% of the viewport width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.ride {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  justify-content: space-between;
  height: 100%; /* Make the ride items take up the full height of the grid cell */
  width: 100%; /* Make the ride items take up the full width of the grid cell */
}

.ride img {
  width: 20vw;
  height: 20vw;
  object-fit: contain;
}

.ride .text {
  margin-top: 20px;
  order: 2;
}

.ride .buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  order: 3;
  flex: 2;
  gap: 15px;
  justify-content: center;
}

/* empty space for the title card */
body {
  margin-top: 25vh;
}

/* Styling for the header ID "titleCard" */
#titleCard {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20vh; /* 20% of the viewport's height */
  background-color: #307748;
  padding: 20px;
  text-align: center;
  display: flex;
}

#titleCard .image {
  align-self: self-start;
}

/* Styling for the footer */
footer {
  background-color: #307748;
  padding: 20px;
  text-align: center;
}

#downloadAllButton {
  background: none; /* remove the background */
  border: none;
  padding: 0;
}

.downloadButtonImage {
  width: 25%; /* set the width to 25% of the parent element */
  height: auto; /* set the height to auto to maintain aspect ratio */
  display: block; /* display the image as a block element */
  margin: auto; /* center the image */
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 40px; /* Adjust as needed */
  background-color: #4caf50;
}

.card {
  position: absolute;
  top: 2%;
  left: 80%;
  width: 20%;
  height: 96%;
  background: rgba(0, 0, 0, 0.5);
  color: #ac1f2d;
  border-radius: 1%;
  z-index: 1000;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h2 {
  align-self: flex-start;
  background-color: black;
}

.card p {
  align-self: center;
  margin-top: auto;
  background-color: black;
}

.ride-image {
  float: left;
  margin-right: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

/* Styles for portrait mode */
@media screen and (orientation: portrait) {
  .rides-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(50vw, 1fr)
    ); /* Adjust the column width */
    grid-auto-rows: 60vw; /* Adjust the row height */
    height: auto; /* Let the grid height adjust automatically */
    overflow-y: visible; /* Allow the grid to extend beyond the viewport height */
  }

  .ride .text,
  .ride button {
    font-size: 3vw; /* Adjust the font size for smaller screens */
  }

  .ride img {
    width: 40vw; /* Adjust the image width */
    height: 40vw; /* Adjust the image height */
  }
}
@media screen and (max-width: 700px) {
  #titleCard #logo {
    width: 223px;
    height: 67px;
  }
  #titleCard {
    align-items: center;
  }
  div.button {
    display: flex;
    flex-direction: column;
  }
}
